.customer-dashboard {
    /*  */
}

.dashboard-content {
    margin: 50px 5%;
}

.dashboard_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_heading {
    font-size: 2rem;
    color: #235da2;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-primary {
    background-color: #235da2;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #014495;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table th,
.table td {
    padding: 15px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.table th {
    background-color: #235da2;
    color: white;
    font-size: 16px;
}

.table td {
    background-color: #f1f1f1;
    font-size: 16px;
}

.expanded-row {
    background-color: #f9f9f9;
}

.expanded-details {
    padding: 10px;
    border-radius: 10px;
}

.expanded-details-heading {
    font-size: 1.5rem;
    color: #235da2;
    font-weight: bold;
    font-style: italic;
}

.expanded-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.expanded-content div {
    flex: 1 1 200px;
    min-width: 200px;
}